.margin-sm {
    margin: $spacing-small;
  }
  
  .margin-base {
    margin: $spacing-base;
  }
  
  .margin-lg {
    margin: $spacing-large;
  }
  
  .padding-sm {
    padding: $spacing-small;
  }
  
  .padding-base {
    padding: $spacing-base;
  }
  
  .padding-lg {
    padding: $spacing-large;
  }
  