// === Colors ===
$blank-white: #ffffff;
$galactic-blue: #755CDE;
$grape-jam: #552049;
$pale-black: #474747;
$scarlet-red: #EB7565;
$seafoam-green: #61C4B7;
$soft-coral: #F39E9E;
$summer-yellow: #F6A560;
$vanilla-cream: #FFF7F0;

// === Typography ===
$font-primary: 'Plus Jakarta Sans', sans-serif;

// === Spacing ===
$spacing-base: 1rem; // Default spacing unit
$spacing-large: 2rem;
$spacing-med: 1.5rem;
$spacing-small: 0.5rem;

// === Breakpoints ===
$screen-xs: 480px;
$screen-md: 720px;
$screen-lg-min: 1100px;
